{% extends 'header.html' %}
{% load pinax_referrals_tags %}

{% block content %}

{% for i in referral %}
    {% ifequal i.user request.user %}
        <!--<b><u>Your Referal Code</u></b>:<i>{{ i.user.first_name }}{{ i.mobile_number }}</i>-->
        <b><u>Your Referal Code</u></b>:<i>{{ user.get_profile.referral.url }}</i><br/>
        <b><u>Your Referal Responses</u></b>:<i>{{ referral_response }}</i>
    {% endifequal %}
{% endfor %}

<!--{% create_referral object.get_absolute_url object %}-->
<!--{% url my_named_url as myurl %}-->
<!---->
<!--{% create_referral myurl %}-->

{% referral_responses user as responses %}

{% for response in responses %}
    {{ responses }}
{% endfor %}

<p>
    {{ response.action|action_display }}
</p>

{% endblock %}