{% extends 'header.html' %}

{% block content %}

    <b><u>Your Referrar</u>:</b><br/>
    {% for i in x %}
        <ul>
            {% ifequal referrar.mobile_number i.referal_id %}
            <!--{% ifequal referrar.-->
                <li>{{ i.user.first_name }} {{ i.user.last_name }}-(Rs.100)<br/></li>
                <ul>
                    {% for j in x %}
                        {% ifequal i.user.profile.mobile_number j.referal_id %}
                            <li>{{ j.user.first_name }} {{ j.user.last_name }}-(Rs.50)</li>
                            <ul>
                                {% for k in x %}
                                    {% ifequal j.user.profile.mobile_number k.referal_id %}
                                        <li>{{ k.user.first_name }} {{ k.user.last_name }}-(Rs.25)</li>
                                        <ul>
                                            {% for l in x %}
                                                {% ifequal k.user.profile.mobile_number l.referal_id %}
                                                    <li>{{ l.user.first_name }} {{ l.user.last_name }}-(Rs.12.5)</li>
                                                {% endifequal %}
                                            {% endfor %}
                                        </ul>
                                    {% endifequal %}
                                {% endfor %}
                            </ul>
                        {% endifequal %}
                    {% endfor %}
                </ul>
            {% endifequal %}
        </ul>
    {% endfor %}


    <!--<b><u>Your Referrar</u>:</b><br/>-->
    <!--{% for i in x %}-->
        <!--<ul>-->
            <!--{% ifequal referrar.mobile_number i.referal_id %}-->
                <!--<li>{{ a }} (Rs.100)<br/></li>-->
                <!--<ul>-->
                    <!--{% for j in x %}-->
                        <!--{% ifequal i.user.profile.mobile_number j.referal_id %}-->
                            <!--<li>{{ b }} (Rs.50)</li>-->
                            <!--<ul>-->
                                <!--{% for k in x %}-->
                                    <!--{% ifequal j.user.profile.mobile_number k.referal_id %}-->
                                        <!--<li>{{ c }} (Rs.25)</li>-->
                                    <!--{% endifequal %}-->
                                <!--{% endfor %}-->
                            <!--</ul>-->
                        <!--{% endifequal %}-->
                    <!--{% endfor %}-->
                <!--</ul>-->
            <!--{% endifequal %}-->
        <!--</ul>-->
    <!--{% endfor %}-->

<br/><hr width="100px" align="left">
<h1><u>Your Earning</u>: {{ money }}</h1>
<br/><hr width="100px" align="left">

{% endblock %}