{% extends 'base.html' %}
{% block content %}

<div class="well">
        <img src="https://i.imgur.com/68Iikc0.jpg" alt="Lt. Shri Dilip Singh Ju Dev" class="img-responsive center-block" style="width:15%;">
            <h3 class="" style="text-align:center;">Lt. Shri Dilip Singh Ju Dev</h3>
            <p class="alert-warning" style="text-align:center;">
                Dilip Singh Judeo (8 March 1949 – 14 August 2013) was an Indian politician from Chhattisgarh and the Minister of State for Environment and Forests in Prime Minister Atal Bihari Vajpayee's Bharatiya Janata Party-led National Democratic Alliance government.He hailed from the erstwhile royal family of Jashpur, and remains a much-loved popular political leader among the tribals of central India. He started Forum of Financial Initiatives (FFI) with the objective to attract foreign funds in India.
            </p>
</div>

<div class="well">
        <img src="https://i.imgur.com/XlS74tI.jpg" alt="Shri B.B. Dutta" class="img-responsive center-block" style="width:15%;">
        <h3  style="text-align:center;">Shri B.B. Dutta</h3>
        <p class="alert-warning" style="text-align:center;">
            Dr. B. B. Dutta (born 1938) is an Indian politician from Meghalaya. He was the General Secretary of Meghalaya Pradesh Congress Committee (1978-1989) and edited a few publications. He was nominated as member of the Rajya Sabha in 1993 and served till 1999. He made tremendous efforts in Mauritius and other countries to attract foreign funds in India.
        </p>
</div>

<div class="well">
        <img src="https://i.imgur.com/jcem8dE.png" alt="Dr. Sanjay Singh" class="img-responsive center-block" style="width:15%;">
        <h3  style="text-align:center;">Dr. Sanjay Singh</h3>
        <p class="alert-warning" style="text-align:center;">
            Raja Sanjay Singh Amethi (also known as Sanjay Sinh, born 25 September 1951) is a politician from the state of Uttar Pradesh, India. He was twice elected to the Legislative Assembly of Uttar Pradesh during the 1980s and held state ministerial posts. In 1990, he became a member of the upper house of the Parliament of India,and in 1998 he was elected to the lower house, called the Lok Sabha. His term in the 12th Lok Sabha session lasted until the following year. Subsequently, in 2009, he was successful in obtaining a second term in that house as a member of the 15th Lok Sabha representing the Sultanpur constituency of Uttar Pradesh. He currently represents the state of Assam in the Rajya Sabha. Singh has held various ministerial portfolios and committee positions over the years, including as Union Minister for Communications in 1991. He organised Finance Mart with Forum of Financial initiative in Mauritius, also he worked lot for the betterment of tribals and slum.
        </p>
</div>

<div class="well">
        <img src="https://i.imgur.com/2CpHbir.jpg" alt="Shri Ramdas Agarwal" class="img-responsive center-block" style="width:15%;">
        <h3  style="text-align:center;">Shri Ramdas Agarwal</h3>
        <p class="alert-warning" style="text-align:center;">
            Ramdas Agarwal (17 March 1937 – 26 January 2017) was an Indian politician of the Bharatiya Janata Party (BJP) and was a member of the Parliament of India representing Rajasthan in the Rajya Sabha. He organised Finance Mart at Goa in 1998 and again in New Delhi in 1999.
        </p>
</div>

<div class="well">
        <img src="https://i.imgur.com/2XQrCd9.jpg" alt="Shri Rajendra Kumar Tripathi" class="img-responsive center-block" style="width:15%;">
        <h3 style="text-align:center;">Shri Rajendra Kumar Tripathi</h3>
        <p class="alert-warning" style="text-align:center;">
            Shri Rajendra Kumar Tripathi is currently the Chairman of the organisation he was active member at Finance Mart in United Kingdom (UK) and he organised "Rashtriya Awas Divas 2017" in Pragati Maidan, New Delhi from 25th to 27th June, 2017. This was the first event of its kind having footsteps of more than 3 lacs people. Dr. Jitendra Singh, PMO Minister was the chief guest at the event, which was organised at grand level.
        </p>
</div>

{% endblock %}