{% extends 'base.html' %}
{% block content %}

{{ request.user }}

<div class="wrapper" style="background-image:url('images/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; margin-top:-20px; ">
    <div>
      <article style="text-align:center; color:white; width:70%; margin: 0 auto;">
        <div>

            <br><br><br><br>

          <!-- <h2 class="heading" style="font-size: 50px;">Forum for Financial Initiatives</h2> -->
          <b>
              <h5 class="heading" style="font-size: 30px;">Housing for All by 2022</h5>

            <br>

            <p style="font-size: 20px;">Forum of Financial Initiatives (FFI) is an Autonomous Body, which has made deep inroads into economic, social and political landscape of the country.<br /><br />
            FFI have successfully helped many individual, corporation and non-governmental organizations to tap resources both from India and abroad for investing in productive activities, since its inception i.e. 1997.<br /><br />
            FFI have an impressive record in financial inclusion. Perhaps we are one among the very few organizations that have promoted self help groups and micro-financing. As the Indian economy is entering an exciting phase of growth, consolidation and greater stress is being laid on transparency and good Governance, we have decided to contribute whatever little that could do in this regard.</p>

            <br><br><br><br>
          </b>
        </div>
      </article>

    </div>
</div>

<div style="background-color:rgba(231, 208, 208, 0.86);">
    <div class="container" style="width: 70%; margin: 0 auto;  ">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12" style="padding:40px;">
            <h6 class="heading " style="font-size: 20px;">We Love<br>To Fight For<br>Your Freedom<br><br></h6>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12" style="padding:40px;">
            <h6 class="heading " style="font-size: 20px;">
                We Plan Your <br>Financial Stability <br>Through Smart Choices
            </h6>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12" style="padding:40px;">
            <h6 class="heading " style="font-size: 20px;">
                We Plan <br>A Good Strategy <br>To Empower Women
            </h6>
        </div>
    </div>
</div>

<br><br>

<div class="container" style="width:70%">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12 hover-green" style="padding:40px; border: 1px solid grey; left:-20px; margin-bottom:10px;">
            <article><a href="#"><i class="fa fa-4x fa-language"></i></a>
                <p><br>Expanding our membership base in all over India for providing Housing to our esteemed members.<br><br><br></p>
            </article>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12 hover-green" style="padding:40px;border: 1px solid grey;  left: -10px; margin-bottom:10px;">
            <article><a href="#"><i class="fa fa-4x fa-balance-scale"></i></a>
                <p><br>Identifies the Bank/ HUDA approved lands for development of Group housing projects in Sector 31, 89, 77 and 63 in Faridabad, Haryana.<br></p>
            </article>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12 hover-green" style="padding:40px;border: 1px solid grey; margin-bottom:10px;">
            <article><a href="#"><i class="fa fa-4x fa-map-signs"></i></a>
                <p><br>We are in the process of identifying prime lands in different cities in India for plotted development/ house building/ group housing/ multi storied flats/ mega townships</p>
            </article>
        </div>
</div>

<div class="container" style="width:70%">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12 hover-green" style="padding:40px; border: 1px solid grey; left:-20px; margin-bottom:10px;">
            <article><a href="#"><i class="fa fa-4x fa-binoculars"></i></a>
                <p><br>Developing these projects under Self-Financing Scheme. As a non-profit organization our projects will be very cost  effective comparative to the private  builders /other govt. authorities</p>
            </article>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12 hover-green" style="padding:40px;border: 1px solid grey;  left: -10px; margin-bottom:10px;">
            <article><a href="#"><i class="fa fa-4x fa-paw"></i></a>
                <p><br>Loan Facility: Up to 90%<br>Payment in long term installments of up to 30 years<br><br><br><br></p>
            </article>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12 hover-green" style="padding:40px;border: 1px solid grey; margin-bottom:10px;">
            <article><a href="#"><i class="fa fa-4x fa-qrcode"></i></a>
                <p><br>We are working in a very transparent manner. Any of our esteemed members may check our books of accounts and necessary records on any  working day/time.<br><br></p>
            </article>
        </div>
</div>


<div class="panel panel-primary" style="width:300px;">
    <div class="panel-heading" style="width:300px"><h2>Total Members: <kbd>{{nom|length}}</h2></div>
    </div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.6910370127384!2d77.24837431508071!3d28.549004982450757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce3de9c8c4cb1%3A0x2cd1df625914b46c!2sNational+Housing+Development+Organisation+(NHDO)!5e0!3m2!1sen!2sin!4v1510055217012" width="400" height="350" frameborder="0" style="border:0" allowfullscreen ></iframe>

{% endblock %}