{% extends 'base.html' %}
{% block content %}

{{ request.user }}

<!--<br><br/>-->
<!--<a href="{% url 'home' %}">Home</a>-->

<!--<br/>-->
<!--<a href="{% url 'about' %}">About</a>-->

<!--<br>-->
<!--<a href="{% url 'gallery' %}">Gallery</a>-->

<!--<br>-->
<!--<a href="{% url 'contact' %}">Contact</a>-->

<!--<br/>-->
<!--<a href="{% url 'log_in' %}">LogIn</a>-->

<!--<br>-->
<!--<a href="{% url 'signup' %}">Register</a>-->

<!--<br/><br>-->
<!--<a href="/logout/">Logout</a>-->

{% endblock %}