{% extends 'base.html' %}
{% block content %}

    {% load staticfiles %}
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

<div class="panel panel-info col-md-12" >
      <div class="panel-heading" style="">
          <h1><span class="glyphicon glyphicon-remove" style="color:#f06000"></span>Invalid LogIn</h1>
      </div>
    <div class="panel-body">
        <h1>Username & Password didnt matched.<small>(Check your Details.)</small></h1><br/>
        <br>
        <p>CLICK <a href="/log_in/" class="btn btn-info ">HERE</a> TO LOGIN AGAIN</p>
    </div>
    </div>


{% endblock %}