{% extends 'nhdo_main/header.html' %}
{% block content %}

    {% load staticfiles %}
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

<form method='post' action="{% url 'check' %}" >
    {% csrf_token%}
    <input type="text" name="username" placeholder="Username" class="form-control" style="width:200px"><br>
    <input type="password" name="password" placeholder="Password" class="form-control" style="width:200px"><br>
    <input type="submit" class="btn btn-success" value="LogIn" />
    <hr align="left" width="200px">
    <a href="{% url 'password_reset' %}" class="btn btn-default">Forgot Password?</a>
</form>

{% endblock %}