{% extends 'base.html' %}
{% block content %}

<div class="well">
    <h3 style="text-align:center">Make In India</h3>

    <br>

    <img src='https://upload.wikimedia.org/wikipedia/en/4/46/Make_In_India.png' width="100%"/>

    <br>
    <p style="text-align:center; font-size: 20px; padding: 5px;">
        Make in India is an initiative launched by the Government of India to encourage national, as well as multi-national companies to manufacture their products in India.
        <br><br>
        The major objective behind the initiative is to focus on job creation and skill enhancement in 25 sectors of the economy. The initiative also aims at high quality standards and minimising the impact on the environment. The initiative hopes to attract capital and technological investment in India.
    </p>
</div>

{% endblock %}