{% extends 'base.html' %}
{% block content %}

<div class="well">
    <h1 style="text-align:center"><b>Self Help Group</b></h1>

    <img src="http://www.ashankur.org/img/SHG_meetings1.jpg" width="100%" />
    <br>

    <p style="text-align:center; font-size: 15px; padding: 5px;">
        <b>Self Help Group</b><br><br>
        - Consumer's Self Help Groups<br>
        - Employee's Self Help Groups<br>
        - Farmer's Self Help Groups<br>
        - MSME's Self Help Groups<br>
        - Student's Self Help Groups<br>
        - Worker's Self Help Groups<br>
        - Women's Self Help Groups<br><br>

        <b>Introduction</b><br><br>
        
        A self-help group (SHG) is a village-based financial intermediary usually composed of 10–20 local women. Most self-help groups are located in India, though SHGs can also be found in other countries, especially in South Asia and Southeast Asia. Members make small regular savings contributions over a few months until there is enough capital in the group to begin lending. Funds may then be lent back to the members or to others in the village for any purpose.<br><br>
        
        <b>Structure</b><br><br>
        
        A Self-Help Group may be registered or unregistered. It typically comprises a group of micro entrepreneurs having homogenous social and economic backgrounds; all voluntarily coming together to save regular small sums of money, mutually agreeing to contribute to a common fund and to meet their emergency needs on the basis of mutual help. They pool their resources to become financially stable, taking loans from the money collected by that group and by making everybody in that group self-employed. The group members use collective wisdom and peer pressure to ensure proper end-use of credit and timely repayment. This system eliminates the need for collateral and is closely related to that of solidarity lending, widely used by micro finance institutions. To make the book-keeping simple enough to be handled by the members, flat interest rates are used for most loan calculations. <br><br>
        
        <b>Goals</b><br><br>
        
        Self-help groups are started by non-governmental organizations (NGOs) that generally have broad anti-poverty agendas. Self-help groups are seen as instruments for a variety of goals including empowering women, developing leadership abilities among poor people, increasing school enrollments, and improving nutrition and the use of birth control. Financial inter mediation is generally seen more as an entry point to these other goals, rather than as a primary objective. This can hinder their development as sources of village capital, as well as their efforts to aggregate locally controlled pools of capital through federation, as was historically accomplished by credit unions. <br><br>
        
        <b>FFI's SHG Linkage' program</b><br><br>
        
        Many self-help groups, especially in India, under FFI's SHG linkage program, borrow from FFI once they have accumulated a base of their own capital and have established a track record of regular repayments. This model has attracted attention as a possible way of delivering microfinance services to poor populations that have been difficult to reach directly through banks or other institutions. "By aggregating their individual savings into a single deposit, self-help groups minimize the bank's transaction costs and generate an attractive volume of deposits. Through self-help groups the FFI can serve small rural depositors while paying them a market rate of interest. The SHG FFI Linkage Programme since its beginning has been predominant in certain states, showing spatial preferences especially for the southern region – Andhra Pradesh, Tamil Nadu, Kerala and Karnataka. <br><br>

        <b>Advantages of financing through SHGs</b><br><br>
        
        An economically poor individual gains strength as part of a group. Besides, financing through SHGs reduces transaction costs for both lenders and borrowers. While lenders have to handle only a single SHG account instead of a large number of small-sized individual accounts, borrowers as part of an SHG cut down expenses on travel (to & from the branch and other places) for completing paper work and on the loss of workdays in canvassing for loans. 
    </p>
</div>

{% endblock %}