{% extends 'base.html' %}
{% block content %}

    <!--<form method="post">-->
        <!--{% csrf_token %}-->
        <!--{% for field in form %}-->
            <!--<p>-->
                <!--{{ field.label_tag }}-->
                <!--{{ field }}-->
                <!--{% if field.help_text %}-->
                    <!--<small style="color: grey">{{ field.help_text }}</small>-->
                <!--{% endif %}-->

                <!--{% for error in field.errors %}-->
                  <!--<p style="color: red">{{ error }}</p>-->
                <!--{% endfor %}-->
            <!--</p>-->
        <!--{% endfor %}-->
        <!--<button type="submit" class="btn btn-success">Sign up</button>-->
    <!--</form>-->

 <div class="container col-sm-8" style="">
        <div id="loginbox" style="margin-top:px;">
            <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title"><h1>Sign Up</h1></div>
                    </div>

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <p>
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small style="color: grey">{{ field.help_text }}</small>
                                    {% endif %}

                                    {% for error in field.errors %}
                                      <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </p>
                            {% endfor %}
                            <button type="submit" class="btn btn-success">Sign up</button>

                        </form>

                        </div>
                    </div>
        </div>
 </div>


<div class="panel panel-danger col-sm-4">
    <div class="panel-heading"><h1>Note</h1></div>
    <div class="panel-body">
        <b><ol>
            <li>If you have no referal_id,then type 0 in it.</li>
            <li>You cannot change these later on: <ul><li>First Name,Last Name</li>  <li>Email</li>  <li>Mobile Number</li></ul></li>
        </ol></b>
    </div>
</div>

<script>
$('.js-captcha-refresh').click(function(){
    $form = $(this).parents('form');

    $.getJSON($(this).data('url'), {}, function(json) {
        // This should update your captcha image src and captcha hidden input
    });

    return false;
});
</script>

{% endblock %}