{% extends 'base.html' %}
{% block content %}

<h2>Sign up</h2>
<hr/>

<h4>NOTE:</h4>
1.If the form is not submiting after clicking the submit button, then you must have same referal_id and mobile_number(which is not possible), Change it.<br/>
2.If you have no referal_id,then type 0 in it.<br/>
3.You cannot change these later on: <ul><li>First Name,Last Name</li>  <li>Email</li>  <li>Mobile Number</li></ul>
<hr/>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit" class="btn btn-success">Sign up</button>

    </form>


<script>
$('.js-captcha-refresh').click(function(){
    $form = $(this).parents('form');

    $.getJSON($(this).data('url'), {}, function(json) {
        // This should update your captcha image src and captcha hidden input
    });

    return false;
});
</script>

{% endblock %}