{% extends 'base.html' %}
{% block content %}

<div class="well">
    <h1 style="text-align:center"><b>Smart City</b></h1>

    <img src="https://www.india.gov.in/sites/upload_files/npi/files/spotlights/smart-inner_m.jpg" width="100%" />
    <br>

    <p style="text-align:center; font-size: 20px; padding: 5px;">
        Smart Cities Mission is an urban renewal and retrofitting program by the Government of India with a mission to develop 100 cities all over the country making them citizen friendly and sustainable. The Union Ministry of Urban Development is responsible for implementing the mission in collaboration with the state governments of the respective cities.<br><br>
        
        Smart Cities Mission envisions developing an area within 100 cities in the country as model areas based on an area development plan, which is expected have a rub-off effect on other parts of the city and nearby cities and towns. Cities will be selected based on the Smart Cities challenge, in which cities will compete in a countrywide competition to get the benefits from this mission.<br><br>

        Each city will create a corporate company headed by a full-time CEO to implement the Smart Cities Mission. The execution of projects may be done through joint ventures, subsidiaries, public-private partnership (PPP), turnkey contracts, etc suitably dovetailed with revenue streams. Center and state government will provide INR 1,000 Crore funding to the company, as equal contribution of INR 500 crore each. The company has to raise additional fund from the financial market as a debt or equity.
        
        
    </p>
</div>

{% endblock %}