{% extends 'base.html' %}
{% block content %}

<div class="well">
    <h1 style="text-align:center"><b>Who We Are?</b></h1>

    <img src="https://www.northeasttoday.in/assets/resources/2016/12/Self-Help-Groups.jpg" width="100%" height="400px"/>
    <br>
        <p class="lead" style="color:black;font-size:18px"><kbd>Forum of Financial Initiatives (FFI-INDIA)</kbd> is an Autonomous Body, which has made deep inroads into economic, social and political landscape of the country.
        FFI-INDIA have successfully helped many individual, corporation and non-governmental organizations to tap resources both from India and abroad for investing in productive activities, since its inception i.e. 1997.
        FFI-INDIA have an impressive record in financial inclusion. Perhaps we are one among the very few organizations that have promoted self help groups and micro-financing. As the Indian economy is entering an exciting phase of growth, consolidation and greater stress is being laid on transparency and good Governance, we have decided to contribute whatever little that could do in this regard.
        </p>
        <br/>
        <p class="lead" style="color:black;font-size:18px">
            FFI-INDIA being a development organisation is also trying to
            contribute by building “Sapnoka Bharat” - Bharat which is free from all evils, Bharat which is prosperous by all means and a Bharat
            which was dreamed and envisioned by our freedom fighters and ancient great personalities.
            <br/>
            <br/>
            We realized that building a New India by 2022 will require an all-round effort towards many fronts. One of the fronts which we at
            FFI-INDIA have been engaged tackling over quite some time is ensuring equity for all. Thus FFI-INDIA realizing its Social Responsibility has decided to spread its wings and reach over to other fronts also so
            that an inclusive and overall development may penetrate to the deepest in the society and all can taste the sweet fruit of development.
            FFI-INDIA and its sister concerns would from now on would be expanding canvas of scope of work to the following :
            <ol>
            <li> Women Empowerment – Another very prime front to deal with which has endless work. A Drive by the <b>WOMEN</b>, for the <b>WOMEN</b>.</li><br/>
            <li> Housing and City Infrastructure- it shall include town and country planning, Slum Renovation/Rehabilitation/Redevelopment
            projects, Affordable housing Projects, Cluster Redevelopment Projects, Redevelopments of old housing
            complexes/societies/buildings, Smart cities, Real Estate management, community development programs etc.</li><br/>
            <li> Adarsh Gram and village Infrastructure- it shall include adoptions of villages by FFI-INDIA and focus on infrastructural
            developments of a village in an indigenized way and thereby also promoting other concerned projects/activities such as smart and
            modern village, agricultural/dairy activities, co-operative projects, handloom and Gramodyog, community development programs
            etc.</li><br/>
            <li> Micro- Finance and Housing/Infra Finance – it shall include developing micro-financial institutions on All India level and
            establishing a NBFC so that all the dreams and projects of every citizen can be financed.</li><br/>
            <li> Education with R&amp;D - quality of citizens decides the quality of nations thus this shall be prime focused sector were the work is
            vast.</li><br/>
            <li> Skill Development, Entrepreneurship and Innovative Startups promotion projects with focus on building people led Social
            Enterprise.</li><br/>
            <li> Green Energy and Clean Environment and Swachh Bharat projects.</li><br/>
            <li> Social and Community building programs with focus to end communalism, terrorism, and casteism.</li><br/>
            <li> Fund Raising and Event Organisation.</li><br/>
            </ol>
        </p>
    <hr/>
    <p style="text-align:center; font-size: 20px; padding: 5px;">
    </p>
</div>

{% endblock %}