<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Forum for Financial Initiative</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="icon.png">

        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="css/style.css">  
        
        <style>
            h6:hover {
                color:green;
            }

            .hover-green:hover{
                background-color: #56F756;
                color:white;
            }

            .hover-white:hover{
                color:white;
            }
        </style>
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <nav class="navbar navbar-inverse" style="border-radius:0px; height: 50%; background-color:black;">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}"><i class="fa fa-lg fa-home"></i></a></li>
                    <li><a href="{% url 'log_in' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Register</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                  <li ><a><i class="fa fa-phone"></i> +91-11-41033648</a></li>
                  <li ><a><i class="fa fa-envelope-o"></i> cmd@nhdoindia.org</a></li>
              </ul>
              <!-- <div style="margin-top:15px">
                <span class="hover-white" style="float:right; color:green;"><i class="fa fa-phone"></i> +91-11-41033648</span>
                <span class="hover-white" style="float:right; color:green; margin-right: 10px;"><i class="fa fa-envelope-o"></i> cmd@nhdoindia.org</span>
              </div> -->
            </div>
          </nav>

        <nav class="navbar navbar-inverse" style="margin-top:-20px; border-radius:0px;">
            <div class="container-fluid">
              <div class="navbar-header">
                <img style="width: 67%; margin:0 auto;" src="nhdo/templates/images//ffi2.png" />
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="{% url 'home' %}">Home</a></li>
        
                <li><a href="{% url 'about' %}">About</a></li>
        
                <li><a href="{% url 'gallery' %}">Gallery</a></li>

                <li class="dropdown">
                        <div class="dropbtn">Projects</div>
                        <div class="dropdown-content">

                                <a href="#">NHDO</a>
                                    <!-- <ul>
                                        <li><a href="#">Phases</a></li>
                                        <li><a href="#">Targets and Features of PMAY</a></li>
                                        <li><a href="#">EMI under PMAY</a></li>
                                        <li><a href="#">Union Territories for PMAY</a></li>
                                    </ul>
                                </li> -->
                                <a href="#">Women Empowerment</a>
                                    <!-- <ul>
                                        <li><a href="#">Goals and Objectives</a></li>
                                        <li><a href="#">Policy Presciptions</a></li>
                                        <li><a href="#">Economic Empowerment of Women</a></li>
                                        <li><a href="#">Social Empowerment of Women</a></li>
                                        <li><a href="#">Operational Strategies</a></li>
                                    </ul>
                                </li> -->
                                <a href="#" >Industry Education (IERP)</a>
                                    <!-- <ul>
                                        <li><a href="#">Education Relationship Program (IERP)</a></li>
                                        <li><a href="#">Need for Academia</a></li>
                                        <li><a href="#">Avenues of Interfaces</a></li>
                                    </ul>
                                </li> -->
                                <a href="#">Self Help Group</a>
                                <a href="#">Kaushal Vikas Yojana</a>
                                <a href="#">MUDRA Bank Yojana</a>
                                <a href="#">Standup India</a>
                                <a href="#">Garib Kalyan Yojana</a>
                                <a href="#">Make in India</a>
                                <a href="#">Smart City</a>
                        </div>
                    <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        
                            <li><a href="#">NHDO</a>
                                <ul>
                                    <li><a href="#">Phases</a></li>
                                    <li><a href="#">Targets and Features of PMAY</a></li>
                                    <li><a href="#">EMI under PMAY</a></li>
                                    <li><a href="#">Union Territories for PMAY</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Women Empowerment</a>
                                <ul>
                                    <li><a href="#">Goals and Objectives</a></li>
                                    <li><a href="#">Policy Presciptions</a></li>
                                    <li><a href="#">Economic Empowerment of Women</a></li>
                                    <li><a href="#">Social Empowerment of Women</a></li>
                                    <li><a href="#">Operational Strategies</a></li>
                                </ul>
                            </li>
                            <li><a href="#" >Industry Education (IERP)</a>
                                <ul>
                                    <li><a href="#">Education Relationship Program (IERP)</a></li>
                                    <li><a href="#">Need for Academia</a></li>
                                    <li><a href="#">Avenues of Interfaces</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Self Help Group</a></li>
                            <li><a href="#">Kaushal Vikas Yojana</a></li>
                            <li><a href="#">MUDRA Bank Yojana</a></li>
                            <li><a href="#">Standup India</a></li>
                            <li><a href="#">Garib Kalyan Yojana</a></li>
                            <li><a href="#">Make in India</a></li>
                            <li><a href="#">Smart City</a></li>
                       
                
                    </ul> -->
                </li>

                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
                
              
            </div>
          </nav>
    
    
        

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>

    </body>
</html>

<nav class="container">
    {% block content %}
    {% endblock %}
</nav>