{% extends 'base.html' %}
{% block content %}

<center>
    <div class="container" style="width:1000px">
        <div class="panel panel-info" style="width:650px">
            <div class="panel-heading"><h1>Blog for <b>WOMEN EMPOWERMENT</b></h1></div>
        </div>
    </div>


<form action="" method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" style="width:400px" name="title" id="title" class="form-control" placeholder="Subject" />
    <textarea style="width:400px;height:200px" name="content" id="content" class="form-control" placeholder="Write Something..."></textarea>
    <input type="file" style="width:210px" value="Pic" class="btn btn-info" name="pic" />
    <button id="button" type='submit' class="btn btn-default">Post</button>
</form>
<hr/>
</center>

<div class="container" style="">
    <div class="panel panel-success" style="width:350px">
        <div class="panel-heading">
            <form class="" action="{% url 'blog_search' %}" method="post" style="width:300px">
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Search" name="search" id="search_box">
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="container" style="width:1000px">
{% for i in text %}
        <div class="panel panel-info">
            <div class="panel-heading"><h2><b>{{ i.title }}</b><small>({{ i.user.username }})</small></h2></div>
            <div class="panel-body" style=""><p>{{ i.content }}</p>
            <center>
                {% if i.pic %}
                    <img src="{{i.pic.url}}" width="600px" height="600px" /><br><br>
                {% endif %}<br/>
            </center>
            <small>{{ i.date|timesince }} ago</small><br/>
            {% ifequal i.user request.user %}
                <a href="{% url 'blog_delete' i.id %}" class="btn btn-danger btn-md">Delete</a>
                <a href="{% url 'blog_edit' i.id %}" class="btn btn-warning btn-md">Edit</a>
            {% endifequal %}
            </div>
            <div class="panel-footer">
                <b>Comments:</b><br/>

                <ul class="list-group" style="">
                    {% if comment %}
                        {% for j in comment %}
                            {% if j.box.id == i.id %}
                                <li class="list-group-item list-group-item-warning">
                                    {{ j.comment }}<br/>
                                    (<small style="color:blue">{{ j.date }}</small>)
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>

                {% if user.is_authenticated %}
                <form action="{% url 'blog_comment' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="take_id" value="{{ i.id }}" />
                    <input id="com" type="text" class="form-control" style="width:300px" placeholder="Comment" name="comment" />
                    <input type="submit" class="btn btn-default" value="Comment"/>
                </form>
                {% endif %}
                <br>
            </div>
        </div>
{% endfor %}
</div>



{% endblock %}