{% extends 'base.html' %}

{% block content %}


<form class="navbar-form navbar-left" action="{% url 'blog_search' %}" method="post">
    {% csrf_token %}
	<div class="form-group">
	    <input type="text" class="form-control" placeholder="Search" name="search" id="search_box">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
<hr/>
<br/><br/>

<div class="container" style="width:1000px">
    <div class="panel panel-info">
        <div class="panel-heading"><h2>Record not Found..!</h2></div>
    </div>
</div>

<a href="{% url 'blog' %}" class="btn btn-warning">Return</a>

{% endblock %}