{% extends 'nhdo_main/base.html' %}

{% block content %}

<a href="{% url 'change_password' %}" class="btn btn-info">Change Password</a>
<hr/>
<a href="{% url 'dashboard' %}" class="btn btn-success">Dashboard</a>
<br/>
<a href="{% url 'list_epin' %}" class="btn btn-success">List Epin</a>
<br/>
<a href="{% url 'upgrade_account' %}" class="btn btn-success">Upgrade Account</a>
<br/>
<a href="{% url 'update_kyc' %}" class="btn btn-success">Update KYC</a>
<br/>
<a href="{% url 'welcome_letter' %}" class="btn btn-success">Welcome Letter</a>
<br/>
<a href="{% url 'distributer_agreement' %}" class="btn btn-success">Distributer Agreement</a>
<br/>
<a href="{% url 'referal_team' %}" class="btn btn-success">Referal Team</a>
<br/>
<a href="{% url 'referal_counts' %}" class="btn btn-success">Referal count(s)</a>
<br/>
<a href="{% url 'referal_level' %}" class="btn btn-success">Referal Level</a>
<br/>
<a href="{% url 'direct_bonus' %}" class="btn btn-success">Direct Bonus</a>
<br/>
<a href="{% url 'summary' %}" class="btn btn-success">Summary</a>
<br/>
<a href="{% url 'ac_statement' %}" class="btn btn-success">A/C Statement</a>
<hr />


    <b><u>Your Referrar</u>:</b><br/>
    {% for i in x %}
        {% ifequal referrar.your_referal i.referal_id %}
        <ul>
            <li>{{ i.user.first_name }} {{ i.user.last_name }}-(Rs.100)<br/></li>
            {% for j in x %}
                {% ifequal i.user.profile.your_referal j.referal_id %}
                <ul>
                    <li>{{ j.user.first_name }} {{ j.user.last_name }}-(Rs.50)</li>
                    {% for k in x %}
                        {% ifequal j.user.profile.your_referal k.referal_id %}
                        <ul>
                            <li>{{ k.user.first_name }} {{ k.user.last_name }}-(Rs.25)</li>
                            {% for l in x %}
                                {% ifequal k.user.profile.your_referal l.referal_id %}
                                <ul>
                                    <li>{{ l.user.first_name }} {{ l.user.last_name }}-(Rs.12.5)</li>
                                    {% for m in x %}
                                        {% ifequal l.user.profile.your_referal m.referal_id %}
                                        <ul>
                                            <li>{{ m.user.first_name }} {{ m.user.last_name }}-(Rs.12.5)</li>
                                            {% for n in x %}
                                                {% ifequal m.user.profile.your_referal n.referal_id %}
                                                <ul>
                                                    <li>{{ n.user.first_name }} {{ n.user.last_name }}-(Rs.12.5)</li>
                                                </ul>
                                                {% endifequal %}
                                            {% endfor %}
                                            </ul>
                                        {% endifequal %}
                                    {% endfor %}
                                    </ul>
                                {% endifequal %}
                            {% endfor %}
                            </ul>
                        {% endifequal %}
                    {% endfor %}
                    </ul>
                {% endifequal %}
            {% endfor %}
            </ul>
        {% endifequal %}
    {% endfor %}


    <!--<b><u>Your Referrar</u>:</b><br/>-->
    <!--{% for i in x %}-->
        <!--<ul>-->
            <!--{% ifequal referrar.mobile_number i.referal_id %}-->
                <!--<li>{{ a }} (Rs.100)<br/></li>-->
                <!--<ul>-->
                    <!--{% for j in x %}-->
                        <!--{% ifequal i.user.profile.mobile_number j.referal_id %}-->
                            <!--<li>{{ b }} (Rs.50)</li>-->
                            <!--<ul>-->
                                <!--{% for k in x %}-->
                                    <!--{% ifequal j.user.profile.mobile_number k.referal_id %}-->
                                        <!--<li>{{ c }} (Rs.25)</li>-->
                                    <!--{% endifequal %}-->
                                <!--{% endfor %}-->
                            <!--</ul>-->
                        <!--{% endifequal %}-->
                    <!--{% endfor %}-->
                <!--</ul>-->
            <!--{% endifequal %}-->
        <!--</ul>-->
    <!--{% endfor %}-->

<br/><hr width="100px" align="left">
<h1><u>Your Earning</u>: {{ money }}</h1>
<br/><hr width="100px" align="left">

{% endblock %}
