{% extends 'nhdo_main/header.html' %}

{% block content %}

<hr/>
<a href="{% url 'dashboard' %}" class="btn btn-success">Dashboard</a>
<br/>
<a href="{% url 'list_epin' %}" class="btn btn-success">List Epin</a>
<br/>
<a href="{% url 'upgrade_account' %}" class="btn btn-success">Upgrade Account</a>
<br/>
<a href="{% url 'update_kyc' %}" class="btn btn-success">Update KYC</a>
<br/>
<a href="{% url 'welcome_letter' %}" class="btn btn-success">Welcome Letter</a>
<br/>
<a href="{% url 'distributer_agreement' %}" class="btn btn-success">Distributer Agreement</a>
<br/>
<a href="{% url 'referal_team' %}" class="btn btn-success">Referal Level</a>
<br/>
<a href="{% url 'referal_level' %}" class="btn btn-success">Referal Level</a>
<br/>
<a href="{% url 'direct_bonus' %}" class="btn btn-success">Direct Bonus</a>
<br/>
<a href="{% url 'summary' %}" class="btn btn-success">Summary</a>
<br/>
<a href="{% url 'ac_statement' %}" class="btn btn-success">A/C Statement</a>
<br/>
<a href="{% url 'compose' %}" class="btn btn-success">Compose</a>
<hr />

<b><u>Your referral Level</u>:</b><br/>
<table>
    {% for i in x %}
        <tr>
            {% ifequal ref.mobile_number i.referal_id %}
            <!--{% ifequal ref.-->
                <li>{{ i.user.first_name }} {{ i.user.last_name }}-{{ i.user.email }}-{{ i.user.profile.mobile_number }}-{{ i.user.profile.dob }}--(Rs.100)<br/></li>
                <tr>
                    {% for j in x %}
                        {% ifequal i.user.profile.mobile_number j.referal_id %}
                            <li>{{ j.user.first_name }} {{ j.user.last_name }}-{{ j.user.email }}-{{ j.user.profile.mobile_number }}-{{ j.user.profile.dob }}--(Rs.50)</li>
                            <tr>
                                {% for k in x %}
                                    {% ifequal j.user.profile.mobile_number k.referal_id %}
                                        <li>{{ k.user.first_name }} {{ k.user.last_name }}-{{ k.user.email }}-{{ k.user.profile.mobile_number }}-{{ k.user.profile.dob }}--(Rs.25)</li>
                                        <tr>
                                            {% for l in x %}
                                                {% ifequal k.user.profile.mobile_number l.referal_id %}
                                                    <li>{{ l.user.first_name }} {{ l.user.last_name }}-{{ l.user.email }}-{{ l.user.profile.mobile_number }}-{{ l.user.profile.dob }}--(Rs.12.5)</li>
                                                {% endifequal %}
                                            {% endfor %}
                                        </tr>
                                    {% endifequal %}
                                {% endfor %}
                            </tr>
                        {% endifequal %}
                    {% endfor %}
                </tr>
            {% endifequal %}
        </tr>
    {% endfor %}
</table>


{% endblock %}
