{% extends 'base.html' %}

{% block content %}

<style>
</style>


<div class="panel panel-warning col-md-12" >
      <div class="panel-heading" style="height:60px;">
          <h3><b><u>Your Referal Code</u></b>:<i> <kbd>{{ referral }}</kbd></i><br/><br/></h3>
      </div>
    </div>


<div class="panel panel-primary col-md-8">
      <div class="panel-heading"><h1>Your Referal Responses:</h1></div>
      <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item list-group-item-info">

                <h2 style="display:inline;"><b><u>Level 1</u></b>:<i> {{ count1 }}
                {% if count1 > 3 %}
                {% else %}
                    <small>(Total Needed - 25)</small>
                {% endif %}</i></h2>
            </li>
              <li style=""><div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{ count1per }}%;">
                  <span style="color:black;">{{ count1per }}%</span>
                </div>
            </li>
            <li class="list-group-item list-group-item-success">
                <h2><b><u>Level 2</u></b>:<i> {{ count2 }}
                {% if count2 > 625 %}
                {% else %}
                    <small>(Total Needed - 625)</small>
                {% endif %}</i><br/></h2>
            </li>
              <li><div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{ count2per }}%;">
                  <span style="color:black;">{{ count2per }}%</span>
                </div>
            </li>
            <li class="list-group-item list-group-item-danger">
                <h2><b><u>Level 3</u></b>:<i> {{ count3 }}
                {% if count3 > 15625 %}
                {% else %}
                    <small>(Total Needed - 15625)</small>
                {% endif %}</i><br/></h2>
            </li>
              <li><div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{ count3per }}%;">
                  <span style="color:black;">{{ count3per }}%</span>
                </div>
            </li>
            <li class="list-group-item list-group-item-warning">
                <h2><b><u>Level 4</u></b>:<i> {{ count4 }}
                {% if count4 > 390625 %}
                {% else %}
                    <small>(Total Needed - 390625)</small>
                {% endif %}</i><br/></h2>
            </li>
              <li><div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{ count4per }}%;">
                  <span style="color:black;">{{ count4per }}%</span>
                </div>
            </li>
            <li class="list-group-item list-group-item-default" style="background-color:#ccff99;">
                <h2><b><u>Level 5</u></b>:<i> {{ count5 }}
                {% if count5 > 9765625 %}
                {% else %}
                    <small>(Total Needed - 9765625)</small>
                {% endif %}</i><br/></h2>
            </li>
              <li><div class="progress-bar progress-bar-default progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{ count5per }}%;background-color:green;">
                  <span style="color:black;">{{ count5per }}%</span>
                </div>
            </li>
            <li class="list-group-item list-group-item-default">
                <h2><b><u>Level 6</u></b>:<i> {{ count6 }}
                {% if count6 > 244140625 %}
                {% else %}
                    <small>(Total Needed - 244140625)</small>
                {% endif %}</i><br/></h2>
            </li>
              <li><div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{ count6per }}%;background-color:black;">
                  <span style="color:blue;">{{ count6per }}%</span>
                </div>
            </li>
          </ul>
      </div>
    </div>


<div class="col-md-4">
<div class="panel panel-primary">
      <div class="panel-heading"><h2>Total Members</h2></div>
      <div class="panel-body">
          <h1><b>{{ total }}</b></h1>
      </div>
        </div>


<div class="panel panel-primary">
      <div class="panel-heading"><h2>Level Reached</h2></div>
      <div class="panel-body">
    <h1><b>
            {% if level == 0 %}
                Zero
            {% elif level == 1 %}
                One
            {% elif level == 2 %}
                Two
            {% elif level == 3 %}
                Three
            {% elif level == 4 %}
                Four
            {% elif level == 5 %}
                Five
            {% elif level == 6 %}
                Six
            {% endif %}
    </b></h1>
      </div>
    </div>
    <div class="panel panel-primary" style="height:325px;">
            <div class="panel-heading" style="height:55px;"><h3>NOTE:</h3></div>
      <div class="panel-body">
          <ul>
              <li class="list-group-item list-group-item-info">Level 1 Referars.</li>
              <li class="list-group-item list-group-item-success">Level 2 Referars.</li>
              <li class="list-group-item list-group-item-danger">Level 3 Referars.</li>
              <li class="list-group-item list-group-item-warning">Level 4 Referars.</li>
              <li class="list-group-item list-group-item-default" style="background-color:#ccff99;">Level 5 Referars.</li>
              <li class="list-group-item list-group-item-default">Level 6 Referars.</li>
          </ul>
      </div>
    </div>
</div>
{% endblock %}