{% extends 'base.html' %}

{% block content %}

<a href="{% url 'change_password' %}" class="btn btn-info">Change Password</a>
<hr/>
<a href="{% url 'dashboard' %}" class="btn btn-success">Dashboard</a>
<br/>
<a href="{% url 'update_kyc' %}" class="btn btn-success">Update KYC</a>
<br/>
<a href="{% url 'welcome_letter' %}" class="btn btn-success">Welcome Letter</a>
<br/>
<a href="{% url 'distributer_agreement' %}" class="btn btn-success">Distributer Agreement</a>
<br/>
<a href="{% url 'referal_team' %}" class="btn btn-success">Referal Team</a>
<br/>
<a href="{% url 'referal_counts' %}" class="btn btn-success">Referal count(s)</a>
<br/>
<a href="{% url 'referal_level' %}" class="btn btn-success">Referal Level</a>
<br/>
<a href="{% url 'direct_bonus' %}" class="btn btn-success">Direct Bonus</a>
<br/>
<a href="{% url 'summary' %}" class="btn btn-success">Summary</a>
<br/>
<a href="{% url 'ac_statement' %}" class="btn btn-success">A/C Statement</a>
<hr />

{% for i in wel %}
    {% if i.image %}
        <img src="{{ i.image.url }}" />
    {% endif %}
    <br />
    {% if i.letter %}
        <a href="{{ i.letter.url }}">Download Welcome Letter</a>
    {% endif %}
{% endfor %}


{% endblock %}
